<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodOrderApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/img/favicon.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/home-responsive.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/toast-message.css" asp-append-version="true">
    <link rel="stylesheet" href="~/font/font-awesome-pro-v6-6.2.0/css/all.min.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
