@using FoodOrderApp.ViewModels;
@model CartUserViewModel

<div class="modal-cart">
    <div class="cart-container">
        <div class="cart-header">
            <h3 class="cart-header-title"><i class="fa-regular fa-basket-shopping-simple"></i> Giỏ hàng</h3>
            <button class="cart-close" onclick="closeCart()"><i class="fa-sharp fa-solid fa-xmark"></i></button>
        </div>
        <div class="cart-body">
            <div class="gio-hang-trong">
                <i class="fa-thin fa-cart-xmark"></i>
                <p>Không có sản phẩm nào trong giỏ hàng của bạn</p>
            </div>
            <ul class="cart-list">
            @{
                int count = Model.Carts.Count(item => item.AppUserId == Model.AppUser.Id);

            }
            
            </ul>
        </div>
        <div class="cart-footer">
            <div class="cart-total-price">
                <p class="text-tt">Tổng tiền:</p>
                <p class="text-price">0đ</p>
            </div>
            <div class="cart-footer-payment">
                <button class="them-mon"><i class="fa-regular fa-plus"></i> Thêm món</button>
                <button class="thanh-toan disabled">Thanh toán</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Cart/CartHandler.js"></script>



