@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using FoodOrderApp.Data.Enum;
@using FoodOrderApp.Extensions;
@using FoodOrderApp.ViewModels.Admin;

@model EditFoodViewModel

<div class="add-product edit-product">
    <div class="modal-container">
        <h3 class="modal-container-title edit-product-e">CHỈNH SỬA SẢN PHẨM</h3>
        <button>
            <a asp-controller="Admin" asp-action="Food" class="modal-close product-form">
                <i class="fa-regular fa-xmark"></i>
            </a>
        </button>
        <div class="modal-content">
            <form method="post" asp-action="EditFood" enctype="multipart/form-data" class="add-product-form">
                <div class="modal-content-left">
                    <img src="@Model.URL" alt="" class="upload-image-preview">
                    <div class="form-group file">
                        <label asp-for="Image" class="form-label-file">
                            <i class="fa-regular fa-cloud-arrow-up"></i>
                            Chọn hình ảnh
                        </label>
                        <input asp-for="Image" type="file" id="Image" class="form-control" placeholder="Chọn hình ảnh" onchange="previewImage()">
                    </div>
                </div>
                <div class="modal-content-right">
                    <div class="form-group">
                        <label asp-for="Name" class="form-label">
                            Tên món
                        </label>
                        <input asp-for="Name" id="up-hinh-anh" class="form-control" placeholder="Nhập tên món">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @{
                            var foodCategories = Enum.GetValues(typeof(FoodCategory)).Cast<FoodCategory>();
                        }
                        <label asp-for="FoodCategory" class="form-label">Chọn món</label>
                        <select asp-for="FoodCategory" id="chon-mon">
                            @foreach (var category in foodCategories)
                            {
                                <option value="@category">
                                    @category.GetDisplayText()
                                </option>
                            }
                        </select>
                        <span asp-validation-for="FoodCategory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="form-label">Giá bán</label>
                        <input asp-for="Price" id="gia-moi" placeholder="Nhập giá bán" class="form-control">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="form-label">Mô tả</label>
                        <textarea asp-for="Description" class="product-desc" id="mo-ta" placeholder="Nhập mô tả món ăn..."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <button class="form-submit btn-update-product-form edit-product-e" id="update-product-button">
                        <i class="fa-light fa-pencil"></i>
                        <span>LƯU THAY ĐỔI</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // On change Image
    function previewImage() {
        var input = document.getElementById('Image');
        var preview = document.querySelector('.upload-image-preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    }
</script>